<% provide(:title, 'About Us') %>
    <div class="center hero-unit">
    <h1>About Us</h1>
    <p>
      SealStakes.com was created by seals for seals. After staking and being staked in thousands of bitcoin poker tournaments, we grew
      tired of the limitations of current staking sites. This site is our effort to correct some of our complaints.</p>
    <ul>
    <li>Why should you have to guess what you are worth as a player?</li>
		<li>Why should you have to pay for basic ROI information on players you invest in?</li>
		<li>Why do other sites constantly go down, sometimes for no reason at all?</li>
		<li>Why can't a staking site be simple and elegant?</li>
    </ul>
	
    <p>We hope you enjoy using Seal Stakes. If you have any feedback, please don't hesitate to contact us.</p>
    </div>