<% provide(:title, 'Help') %>

<div class="center hero-unit">
    <h1>Help</h1>
    <p>
      To get started, signup using the same username that you use on SealsWithClubs.eu, and then verify your account
      typing "@stakes verifyme" into the SealsWithClubs's chatroom. Once you have a verified account, you can start
      selling shares by typing : </p><h2 class="center">@stakes sell (percentage) of (tournament) at (markup) (code)<br>Example Usage : @stakes sell 50% of friday at 1.1 please</h2>
      <p>
      To get started buying shares, just type "@stakes buy (shares) of (code)". Check the player listings on the home page
      to find lots of staking opportunities, complete with full player history, pretty graphs, and the expected value of a
      staking position.</p>
      <h2 class="center">Example Usage : @stakes buy 20 please</h2>


    </p>
</div>