<div class="center hero-unit">
  <h1>Welcome to Seal Stakes!</h1>

  <h2>
    Buy and sell shares in all of the best bitcoin poker tournaments online!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<center><%= link_to image_tag("SealsStakes.jpg", alt: "Seal Stakes"), 'http://rubyonrails.org/' %></center>